.container {
    color: #333;
    background-color: #add8e6;
    padding: 20px;
  }
  
  .header {
    color: #4682b4;
    background-color: #ffffff;
    font-size: 26px;
    padding: 10px;
    text-align: center;
  }
  
  .content {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
  }
  